<head>
    <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }}{{- end }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ partial "partials/style.html" . }}
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?cfd310057297c08d0f7072e16e333a3a";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        function redirect()
        {
            window.location = "https://zhangchi.io";
        }
        if(window.location.href === "https://blog.zhangchi.fun" || window.location.href === "https://blog.zhangchi.fun/")
        {
            window.setTimeout(redirect, 5000);
        }
    </script>
</head>